<p id="notice"><%= notice %></p>

<p>
  <strong>Type name:</strong>
  <%= @terminaltype.type_name %>
</p>

<%= link_to 'Edit', edit_terminaltype_path(@terminaltype) %> |
<%= link_to 'Back', terminaltypes_path %>
